.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
  "header header header"
  "nav content content";
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

.app-wrapper__content {
  grid-area: content;
  background-color: cornflowerblue;
  padding: 20px;
}