.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
}

.dialog {

}

.link {
  display: inline-block;
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: gold;
}
.link.active {
  color: gold;
}


.messages {
  padding: 10px;
}

.message {
  color: #fff;
}